<div class="banner-dashboard">
  <h1>Dashboard Admin</h1>
  <div class="article-content">
    <h2>Articles</h2>
    <div class="dashboard-articles">
      <% @articles.each do |article| %>
      <div class="dash-article">
        <h3 class="text-center"><%= article.title %></h3>
        <p><%=article.meta_description%></p>

        <div class="dashboard-actions ">
            <%= link_to "Modifier", edit_article_path(article), class:('btn-ressources-green')%>

            <%= link_to "Supprimer", article_path(article), method: :delete, class:('btn btn-danger'), data: { confirm: 'Es-tu sûr(e) de vouloir supprimer cet article? ' }%>

            <%= link_to "Voir l'article", article_path(article), class:('btn btn-primary') %>

        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
