<div class="wrapper">
	<div class="titre">
		<h1>CRÉONS ENSEMBLE   <span>LE CAHIER DES CHARGES</span><br> DE LA   <span>CONTRIBUTION CARBONE</span> <br>EXIGÉ PAR LES   <span>CONSOMMATEURS</span></h1>	
		<p>et compréhensible par tous ...</p>
		<%= image_tag('collaboration.png', class: "img-collaboration") %>
	</div>
</div>
<div class="wrapper-demarche" id="demarche">
	<!-- <div class="container"> -->
		<div class="row">
			<div class="tree col-md-2">
				<%= image_tag("arbre 2.png") %>
			</div>
			<div class="col-md-8">
				<div class="container">
				<h2><span>LA DÉMARCHE</span></h2>

				<h3>Qu'est-ce que la compensation carbone ?</h3>
				<p>
				L'ensemble des individus, du particulier à l’entreprise en passant par l'État, relâche dans l’atmosphère des gaz à effet de serre (dont du dioxyde de carbone (CO2)). Ces émissions de gaz à effet de serre entraînent de lourdes répercussions sur l’environnement et le climat en participant activement au réchauffement climatique. Des actions concrètes, comme la compensation carbone, s’inscrivent dans la réduction de ces émissions. 
				<br><br>
				La compensation carbone consiste à équilibrer (ou neutraliser dans certains cas) ses émissions de carbone en participant financièrement à des programmes de séquestration ou de réduction d’émissions. 	<strong>Il est essentiel de rappeler que la compensation carbone a peu d’impact si les acteurs ne s’engagent pas au préalable à réduire au maximum leurs émissions.</strong> Il existe de nombreuses solutions telles que planter des arbres, lutter contre la déforestation, remplacer des centrales à charbon par des alternatives moins polluantes ect.  <br>
				Vous trouverez de nombreuses informations à ce sujet dans notre rubrique : <br> 
				<div class="btn-wrapper">
					<%= link_to "Ressources", ressources_url, class:('btn-ressources-green')%>
				</div>
				</p>

				<h3>Notre constat : la compensation carbone est un procédé intéressant mais mal utilisé par les entreprises !</h3>
				<p>
				Cette démarche est de plus en plus utilisée par les acteurs économiques majeurs, notamment par les entreprises l'incluant dans le cadre de leur responsabilité sociale et environnementale (RSE). Les projets entrepris par les grandes enseignes sont encore <strong>très mal perçus par le grand public</strong> : incertitude sur la réalité et l’efficacité des projets, projets délocalisés par rapport au lieu de l'émission, prix payé insuffisant pour prendre en compte les externalités négatives engendrées par la pollution, critères des projets de compensation pas assez exigeants et opaques, mauvaise utilisation de la communication autour des projets, manque de transparence. Nous avons pu observer de très nombreuses critiques dans notre tout premier questionnaire, mais aussi que <strong>75% des répondants souhaiteraient compenser leur impact carbone ! </strong> Il faut donc proposer un cahier des charges plus qualitatif qui fasse passer les acteurs à l'acte !<br>Vous pouvez accéder aux résultats ci-dessous :
				<div class="btn-wrapper">
					<%= link_to "Résultats", resultat_url, class: "btn-ressources-green" %>. 
				</div> 
					
				<br><br>
				Nous voulons donc établir une offre de compensation carbone <strong>juste et transparente afin de contribuer à répondre aux enjeux écologiques actuels</strong>.
				</p>
				<h3>Notre objectif : Créer collaborativement le cahier des charges de la compensation carbone.</h3>
				<p><strong>Construisons ensemble ce cahier des charges !</strong> Pas besoin d'être un expert, n'importe qui peut y répondre en écoutant ses valeurs. Faisons participer les entreprises et les consommateurs via la mise en place de projets répondant à des critères précis choisis collectivement. Nous voulons fédérer une communauté unique de consommateurs capable de définir par eux même leurs cahiers des charges, créer leurs projets de compensation et vérifier la stricte application à la compensation carbone des entreprises de ce <strong>cahier des charges citoyen</strong>. </p>

				<h3>De la compensation carbone à la contribution carbone.</h3>
				<p>Nous rejoignons l'avis du cabinet de conseil Carbon4 et de sa tribune <a href="http://www.carbone4.com/neditespluscompensation-de-compensation-a-contribution/" target="_blank">NE DITES PLUS « COMPENSATION » : DE LA COMPENSATION À LA CONTRIBUTION</a>, pour changer de paradigme. L'objectif n'est pas de compenser son impact carbone propre, mais bien, collectivement, de contribuer ensemble à la réduction de l'impact carbone de la France pour lutter contre le réchauffement climatique. Pour cela, nous devons créer collaborativement un cahier des charges de la contribution carbone choisi par les citoyens. <strong>Participez-y en répondant au questionnaire !</strong> Une fois fait n'hésitez pas à partager le questionnaire pour impliquer le plus de personnes possible.</p>
				</div>
				
			</div>
			<div class="tree col-md-2">
				<%= image_tag("arbre 3.png") %>
			</div>
			<div class="btn-wrapper">
				
				<%= link_to "Répondre au questionnaire", questionnaire_url, class:('btn-questionnaire') %>
			</div>
		</div>
		
	<!-- </div> -->
</div>
<div class="wrapper-etapes">
	<div class="container">
		<h2><span>LES ÉTAPES À SUIVRE</span></h2>
		<div class="grid">
			<div class="row ">
				<div class="block-left col-md-8">
					<h3>1 - <span>Imaginer la meilleure contribution carbone via le questionnaire</span></h3>
					<p>Afin de créer le cahier des charges, il est nécessaire d’auditer les consommateurs sur leur vision globale des projets de compensation carbone. Ce questionnaire est disponible en ligne sur notre site, et peut être rempli par tous les consommateurs. Nous avons besoin des réponses des consommateurs-citoyens pour réaliser ce cahier des charges. <strong>L'objectif : 1000 réponses !</strong>
					<div class="btn-wrapper">
						
						<%= link_to "Répondre au questionnaire", questionnaire_url, class:('btn-white') %>
						
					</div>
					</p>
				</div>
				<div class="block-right block-illu col-md">
					<div class="illustration-indiv col-xs-12">
						<%= image_tag('Fichier 1.png') %>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="block-left block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 3.png') %>
					</div>
				</div>
				<div class="block-right col-md-8">

					<h3>2 - <span>Réaliser le cahier des charges des consommateurs et devenir sociétaire</span></h3>
					<p>Suite au premier questionnaire, si réponse positive une coopérative sera créée et chacun pourra en devenir sociétaire. Les sociétaires sont les membres d'une société coopérative. Ils participent à la prise des décisions, votent les cahiers des charges et permettent de faire fonctionner une entreprise sur un modèle collectif et coopératif. Ils rédigeront ensemble <strong>le premier cahier des charges de la contribution carbone des consommateurs-citoyens</strong>. Celui-ci permettra de définir comment les consommateurs veulent que l'entreprise compense son impact carbone. Après rédaction, ce cahier des charges sera consultable et disponible en ligne sur notre site. 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="block-left col-md-8">

					<h3>3 - <span>Interpeller, appeler et inciter les entreprises pour qu'elles appliquent ce cahier des charges</span></h3>
					<p>Après consultation du cahier des charges, chaque consommateur se doit <strong>d’interpeller les entreprises</strong> afin d’exiger l’application de ce cahier des charges pour la contribution carbone. Ainsi, les clients et les parties prenantes des entreprises peuvent inciter le changement des pratiques de compensation et les faire progresser. Des outils seront mis à disposition de tous par l'équipe pour vous aider dans cette démarche.</p>
				</div>
				<div class="block-right block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 4.png') %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="block-left block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 5.png') %>
					</div>
				</div>
				<div class="block-right col-md-8">
					
					<h3>4 - <span>Créer des projets de contribution carbone respectant le cahier des charges et accessible aux entreprises</span> </h3>
					<p>Les projets seront choisis par les <strong>consommateurs-sociétaires</strong>. Ainsi, les sociétaires pourront auditer les projets de compensation carbone de l’entreprise afin de vérifier la stricte application du cahier des charges.</p>
				</div></div>
		</div>
	</div>

</div>

<div class="wrapper-sondage" id="sondage">
	<h2>RÉPONDEZ AU QUESTIONNAIRE POUR RÉALISER <br><span>LA CONTRIBUTION CARBONE DE VOS RÊVES !</span></h2>
	<div class="sondage">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQuq0oQqUnoaMrdSkjcoNkPoRg4ERdmyPXoZlK0qNW22DwJw/viewform?embedded=true" class="iframe-questionnaire"  height="1000" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
	</div>
</div>
<div class="wrapper-team" id="team">
	<div class="container">
		<div class="offset-md-2 col-md-8">
			<h2>L'ÉQUIPE DE CHOC</h2>
			<p>Après s'être interrogé sur <strong>le greenwashing et la compensation carbone</strong>, nous avons pu constater de très nombreuses critiques du grand public. Il nous a donc semblé important d'agir pour créer la compensation carbone qui réponde à l'exigence des <strong>citoyens-consommateurs</strong> que nous sommes. Dans une ambiance conviviale et participative nous travaillons à l'amélioration du monde à notre échelle. </p>
		</div>
		<div class="offset-md-1 col-md-10">
			<div class="team row">
				<div class="member col-md-6">
					<div class="image-team">
						<%= image_tag('Bapt.png', class: "img-rounded") %>
						
					</div>
					<div class="name"><h4>Baptiste Chebassier</h4></div>
					<div class="description ">Créatif et critique, Baptiste souhaite toujours réinventer le monde dans lequel il vit. Mais il sait le faire en s'amusant et souhaite que tout le monde participe à ses aventures !</div>
					
				</div>
				<div class="member col-md-6">
					<div class="image-team">	
						<%= image_tag('jeanne.png', class: "img-rounded") %>
					</div>
					<div class="name"><h4>Jeanne Rassart</h4></div>
					<div class="description ">Engagée dans les causes qui lui tiennent à cœur, Jeanne entreprend l’avenir avec enthousiasme en s’interrogeant sur les meilleures façons d’améliorer le monde dans lequel elle vit.  Elle est toujours partante pour de nouvelles aventures !</div>
				</div>
			</div>
			<div class="btn-wrapper">
				<a target="_blank" href="mailto:baptiste.chebassier@contributioncarbone.fr, jeanne.rassart@contributioncarbone.fr" class="btn-questionnaire">Contactez-nous !</a>
			</div>
<!-- 			    <form action="mailto:baptiste.chebassier@contributioncarbone.fr, jeanne.rassart@example.com" method="get" enctype="text/plain">
			      <p>Nom: <input type="text" name="name"/></p>
			      <p>Email: <input type="text" name="email"/></p>
			      <p>Commentaires:
			        <br />
			        <textarea name="comments" rows = "12" cols = "35">Envoyez votre commentaires au site Web.</textarea>
			        <br>
			      <p><input type="submit" name="submit" value="Send" />
			        <input type="reset" name="reset" value="Clear Form" />
			      </p> -->
			    <!-- </form> -->
		</div>	
	</div>
</div>