<div class="wrapper">
	<div class="titre">
		<h1>CRÉONS ENSEMBLE   <span>LE CAHIER DES CHARGES</span><br> DE LA   <span>CONTRIBUTION CARBONE</span> <br>EXIGÉ PAR LES   <span>CONSOMMATEURS</span></h1>	
		<p>et compréhensible par tous ...</p>
		<%= image_tag('collaboration.png', class: "img-collaboration") %>
	</div>
</div>
<div class="wrapper-demarche" id="demarche">
	<!-- <div class="container"> -->
		<div class="row">
			<div class="tree col-md-2">
				<%= image_tag("arbre 2.png") %>
			</div>
			<div class="col-md-8">
				<div class="container">
				<h2><span>LA DÉMARCHE</span></h2>

				<h3>Qu'est-ce que la compensation carbone ?</h3>
				<p>
				L'ensemble des individus, du particulier à l’entreprise en passant par l'État, relâche dans l’atmosphère des gazs à effet de serre (dont du dioxyde de carbone (CO2)). Ces émissions de gaz à effet de serre entraînent de lourdes répercussions sur l’environnement et le climat en participant activement au réchauffement climatique. Des actions concrètes, comme la compensation carbone, s’inscrivent dans la réduction de ces émissions. 
				<br><br>
				La compensation carbone consiste à équilibrer (ou neutraliser dans certain cas) ses émissions de carbone <strong>après les avoir réduites au maximum</strong> en participant financièrement à des programmes de séquestration ou de réduction d’émissions. Il existe de nombreuses solutions telles que planter des arbres, lutter contre la déforestation, remplacer descentrales à charbon par des alternatives moins carbonées ect...  <br>
				Vous trouverez de nombreuses informations à ce sujet dans notre rubrique <%= link_to "Ressources", ressources_url %>.
				</p>

				<h3>Notre constat : la compensation carbone est un procédé intéressant mais mal utilisé par les entreprises !</h3>
				<p>Les émissions de carbone entraînent des lourdes répercussions sur l’environnement et le climat. La compensation carbone permet de contrebalancer les émissions de CO2 via  le financement de projet de réduction d’autres émissions ou de séquestration de carbone. 
				<br><br>
				Cette démarche est de plus en plus utilisé par les gros acteurs économiques, notamment par les entreprise l'incluant dans le cadre de leur responsabilité sociale et environnementale (RSE). Les projets entrepris par les grandes enseignes sont encore très mal perçu par le grand public: incertitude sur la réalité et l’efficacité des projets, projets délocalisés, prix payé totalement insuffisant, critères de compensation non précis, présentation déformée des faits , mauvais systèmes de communication, manque de transparence. 
				<br><br>
				Nous voulons une offre de compensation carbone juste et transparente permettant de faire bouger les choses afin de contribuer aux enjeux écologiques actuel.
				</p>
				<h3>Notre objectif : Créer collaborativement le cahier des charges de la compensation carbone.</h3>
				<p>Nous voulons construire cette offre en faisant participer les entreprises et les consommateurs via la mise en place de projets répondant à des critères précis choisi collectivement. Nous voulons fédérer une communauté unique de consommateurs capable de définir par eux même leurs cahier des charges, leurs projets de compensation et leurs audits. </p>
				</div>
				
			</div>
			<div class="tree col-md-2">
				<%= image_tag("arbre 3.png") %>
			</div>
			<div class="btn-wrapper">
				
				<div class="btn-questionnaire"><%= link_to "Répondre au questionnaire", questionnaire_url %></div>
			</div>
		</div>
		
	<!-- </div> -->
</div>
<div class="wrapper-etapes">
	<div class="container">
		<h2><span>LES ÉTAPES À SUIVRE</span></h2>
		<div class="grid">
			<div class="row ">
				<div class="block-left col-md-8">
					<h3>1 - <span>Imaginer la meilleure contribution carbone via le questionnaire</span></h3>
					<p>Afin de créer la cahier des charges, il est nécessaire d’auditer les consommateurs sur leur vision globale des projets de compensation carbone. Ce premier questionnaire est disponible en ligne sur notre site, et peut être rempli par tous les consommateurs. Nous tenons à obtenir la vision de chacun pour avoir une bonne direction à prendre pour la suite de notre projet. L’objectif : 1000 réponses !
					</p>
				</div>
				<div class="block-right block-illu col-md">
					<div class="illustration-indiv col-xs-12">
						<%= image_tag('Fichier 1.png') %>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="block-left block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 3.png') %>
					</div>
				</div>
				<div class="block-right col-md-8">

					<h3>2 - <span>Réaliser le cahier des charges des consommateurs</span></h3>
					<p>Suite au premier questionnaire, les membres de contribution carbone tirent les conclusions. Ils rédigent ensemble un premier cahier des charges exigent à destination des entreprises pour la compensation carbone. Après rédaction, ce cahier des charges sera consultable et disponible en ligne sur notre site. 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="block-left col-md-8">

					<h3>3 - <span>Inciter, appeler et interpeller les entreprises pour appliquer ce cahier des charges</span></h3>
					<p>Après consultation du cahier des charges, chaque consommateur se doit d’interpeller les entreprises afin d’exiger l’application de ce cahier des charges pour la compensation carbone. Ainsi, les clients et les parties prenantes des entreprises peuvent inciter le changement des pratiques de compensation et faire progresser les pratiques. </p>
				</div>
				<div class="block-right block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 4.png') %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="block-left block-illu col-md">
					<div class="illustration-indiv">
						<%= image_tag('Fichier 5.png') %>
					</div>
				</div>
				<div class="block-right col-md-8">
					
					<h3>4 - <span>Créer des projets de contribution carbone respectant le cahier des charges et accessibles aux entreprises</span> </h3>
					<p>Les projets sont choisi par les consommateurs et ont pour vocation d’être exigeant et transparent. Ainsi, chaque consommateur peut auditer le projet de compensation carbone de l’entreprise laissant ainsi la possibilité à chacun de vérifier l’application du cahier des charges point par point.</p>
				</div></div>
		</div>
	</div>

</div>

<div class="wrapper-sondage" id="sondage">
	<h2>RÉPONDEZ AU QUESTIONNAIRE POUR RÉALISER <br><span>LA CONTRIBUTION CARBONE DE VOS RÊVES !</span></h2>
	<div class="sondage">
		<iframe  src="https://docs.google.com/forms/d/e/1FAIpQLSf9HyEsOmnF1F9Jl7SskB9eKJsVn3HwWBGmp12D9gMuKXNphg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
	</div>
		<a href="https://www.vecteezy.com/free-vector/collaboration">Collaboration Vectors by Vecteezy</a>
</div>
<div class="wrapper-team" id="team">
	<div class="container">
		<div class="offset-md-2 col-md-8">
			<h2>L'ÉQUIPE DE CHOC</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore mollitia illo nobis, quo eligendi explicabo! Laudantium voluptatum iusto, explicabo, ullam minima totam harum non eius culpa molestias earum, atque, tenetur.</p>
			<div class="team">
				<div class="member">
					<%= image_tag('Bapt.png', class: "img-rounded") %>
					<div class="name">Baptiste Chebassier</div>
					<div class="description">Fondateur</div>
					
				</div>
				<div class="member">
					<%= image_tag('jeanne.png', class: "img-rounded") %>
					<div class="name">Jeanne Rassart</div>
					<div class="description">Stagiaire</div>
				</div>
			</div>
			
		</div>
	</div>
</div>