<div class="wrapper-resultat">
	<div class="offset-md-2 col-md-8">
		<div class="container">
			<h1><span>Voici les résultats du</span> premier sondage <span>sur <br> la compensation carbone </span></h1>
			<p>Nous avons décidé d'effectuer un premier questionnaire pour essayer de comprendre si les français connaissaient la compensation carbone, s'ils l'utilisaient, et surtout ce qu'ils en pensaient. <br><br> Il en est ressorti que <span>75% des répondants connaissaient la compensation carbone, que 58% des personnes ont déjà vu la communication de la compensation carbone d'une marque, et que 73% des répondants souhaiteraient compenser l'impact carbone de leurs achats. </span>Toutefois les critiques ont été très nombreuses envers ces projets jugés pour beaucoup de "marketing", de "greenwashing" et les ambitions réelles des entreprises ont été remises en question. <span>Il y est critiqué l'opacité autour des projets, le manque de transparence sur le prix de la tonne carbone, sur la continuité des projets, sur la délocalisation de la compensation et sur le manque d'objectifs des entreprises de réductions de leur impact carbone avant la compensation. </span><br><br>Ce sont ces chiffres qui nous ont donné la conviction qu'il fallait définir le cahier des charges de la compensation carbone des consommateurs. Dans notre logique coopérative et transparente nous mettons à la disposition de tous le résultat de cette première enquête.</p>
			<div class="sondage-resultats">
				<%= image_tag('sondage 1.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 2.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 3.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 4.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 5.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 6.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 7.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 8.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 10.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 11.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 12.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 13.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 14.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 15.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 16.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 17.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 18.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 19.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 20.png', class: "sondage-resultat")%>
				<%= image_tag('sondage 21.png', class: "sondage-resultat")%>
				
			</div>
		</div>
		
	</div>
	
</div>